<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/bulma-tooltip.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>OpenID Connect Client Demo</title>
</head>

<body>


<div class="container has-text-centered">

  <img src="/img/openid.png" />

  <% if (locals.user) { %>

  <% } else { %>
  <div class="column is-4 is-offset-4">
    <a href="/login"><input type="image" src="/img/login.png" alt="Login"/></a>
  </div>
  <% } %>

</div>

<% if (locals.user) { %>
<div class="container">
    <p class="has-text-centered">
        <a href="/logout" class="button is-large is-link">Logout</a>
    </p>
</div>
<% } %>

</body>
</html>
